
::-webkit-scrollbar{
  display: none;
  width: 5px;
  color: var(--color2);
  background-color: var(--color1);
}
#ctt{
  position: fixed;
  display: none;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 10px;
  box-shadow: 0 0 2px 0px var(--shadow);
}
.col1{color: var(--color1);}
.col1:hover{color: var(--color2);}
.col1:active{color: var(--color1);}
.col1::selection{background-color: var(--color1); color: var(--color2)}
.col2{color: var(--color2);}
.col2:hover{color: var(--color1);}
.col2:active{color: var(--color2);}
.col2::selection{background-color: var(--color2); color: var(--color1)}

.col3{color: var(--color2);}
.col3:hover{color: var(--color3);}
.col3:active{color: var(--color2);}
.col3::selection{background-color: var(--color3); color: var(--color1)}

.acol1:hover{color: var(--color1);}
.acol1:active{background-color: rgba(var(--col2), 0.2); color: var(--color2)}

.acol2:hover{color: var(--color2);}
.acol2:active{background-color: rgba(var(--col1), 0.2); color: var(--color1)}

.acol3:hover{color: var(--color3);}
.acol3:active{background-color: rgba(var(--col2), 0.2); color: var(--color1)}

.acol4:hover{color: var(--color2);}
.acol4:active{background-color: rgba(var(--col1), 0.2); color: var(--color2)}

.acol5:hover{color: var(--color1); background-color: var(--color3);}
.acol5:active{background-color: rgba(var(--col2), 0.2); color: var(--color3)}

/**STYLE FOR LARGE BUTTONS**/
.tcol1{color: var(--color1);}
.tcol1:active{color: var(--pri); background-color: var(--color1);}

.tcol2{color: var(--color2)}
.tcol2:active{color: var(--pri); background-color: var(--color2);}

.tcol3{color: var(--color3)}
.b2:hover{font-size: 13px;}
.tcol3:active{color: var(--pri); background-color: var(--color3);}

.tcol4{color: var(--color2)}
.tcol4:active{color: var(--pri); background-color: var(--color1);}

.gbv{
  background-image: linear-gradient(45deg, var(--color2), var(--color1));
}
.gb{
  background-image: linear-gradient(45deg, var(--color1), var(--color2));
}

.b2text{
  font-size: 10px;
  margin-top: 5px;
  color: var(--sec);
  font-family: cl;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  user-select: none;
}
#ipbs-2 div:hover .b2text{
  height: 16px;
}
body, html{
  color: var(--sec);
  margin: 0;
  height: 100%;
  background-color: rgb(var(--pri));
}
*{
  box-sizing:border-box;
}
p::selection{
  background-color: var(--color2);
  color: var(--color1);
}
button[data-tooltip]{
  overflow:visible;
  color: var(--color2);
}
p{
  margin:0;
}
#userdisplaytop, #topcontent, #userstats{
  display: flex;
  flex-direction: column;
}

#userpicstats{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
#userdisplaytop{
  font-family: roboto;
  row-gap: 10px;
  box-shadow: 0 0 5px 2px var(--shadow);
  height: fit-content;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
}
#displaypic{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#gdp{
  margin-top: -50px;
  height: 105px;
  width: 105px;
}
#displaypic{
  position: relative;
  box-sizing: border-box;
}
#gdp::before{
  border-radius: 50%;
  height: 110px;
  width: 110px;
  background: var(--grad5);
  position: absolute;
  content: "";
  opacity: 0.8;
  z-index: 0;
  margin: -5px;
}
#topcontent{
  row-gap: 10px;
}
#displaynameprofile{
  font-weight: 700;
  font-size: 40px;
}
#usernameprofile, .text{
  background-image: var(--grad5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#userinfo{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4px;
  font-size: 14px;
}
#userstats{
  column-gap: 5px;
  margin-top: -10px;
}

.mid{
  align-items: center;
}
.text{
  opacity: 0.9;
}
#follow{
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: 4px;
}
.btn{
  font-family: rubik;
  background: linear-gradient(27deg, #ff4b7c, #007dff);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 14px;
}
.square{
  aspect-ratio:1/1;
}
#i33j-2{
  aspect-ratio: unset;
  height: 150px;
  border-radius:20px;
}

.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items: stretch;
  flex-wrap:nowrap;
}
.gjs-cell{
  align-items:center;
  flex-basis:100%;
}
.innerboxes{
  display:flex;
  flex-flow:row wrap;
}
.numc{
  font-size:40px;
  font-weight:200;
  font-family:caviar;
  text-align:center;
  transition: color 0.2s;
}
.ntext{
  font-size:16px;
  font-weight:500;
  margin-top: 3px;
  font-family:cl;
  text-align:center;
}
#iqkf-2{
  border-radius:50px 25px 50px 25px;
  padding:10px 10px 10px 10px;
}
#column1-2{
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
  background:var(--pri);
  height: 100%;
  row-gap:30px;
}
#row1-2{
  padding:0 0 0 0;
  align-self:auto;
  width:270px;
  z-index: 40;
  justify-content: space-evenly;
  gap: 0;
}
#i1fh-2{
  align-self:auto;
  border:0 none black;
}
#ixcvh-2{
  min-height:0;
}
#i60qr{
  border-radius:50px;
  aspect-ratio:1/2;
  margin-top:15px;
}
#i9zjw{
  min-height:0;
  width:90%;
}
#ip0uj{
  position:static;
  border-radius:5px 50px 5px 50px;
  padding:0 0 0 0;
}
#it0b6{
  border-radius:50px 5px 50px 5px;
  background:var(--gradient3) ;
}
#iqyv{
  width: 100%;
  height: 100%;
  border-radius:50px;
  box-shadow:1px -1px 4px 1px var(--color2), -1px 1px 4px 1px var(--color1), inset 0px 0px 2px 1px var(--shadow);
  transition: box-shadow 1s;
}
#iqyv:hover{
  box-shadow: none;
  box-shadow: -1px 1px 4px 1px var(--color2), 1px -1px 4px 1px var(--color1), inset 0px 0px 2px 1px var(--shadow);
}
#iosnd{
  width:70%;
}

#i35re{
  aspect-ratio:1/2;
  display:flex;
  flex-flow:row wrap;
  width:30%;
}
#iim3x3{
  display: flex;
  flex-flow: row wrap;
  scrollbar-width: 1px;
  scrollbar-color: var(--gray2);
  scrollbar-track-color: transparent;
  overflow: scroll;
}
.rblocks{
  display:flex;
  flex-flow:column wrap;
  min-width:300px;
  justify-content:center;
  align-items:center;
  gap:30px;
  width:300px;
  max-width:320px;
}

#iht7k{
  padding:0 0 0 0;
  align-self:auto;
  max-width: 420px;
  flex-grow: 2;
  justify-content: start;
  overflow-y: scroll;
  min-width: 320px;  
}
#projectsin{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
#ibczo-2{
  max-width: none;
  align-self:auto;
  justify-content: start;
  flex-grow: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}
#postsholder{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding-top: 10px;
  height: calc(100% - 60px);
}
#ibczo-2::after{
  width: 100px;
  background: black;
  content: '';
  height: 50px;
  position: static;
}
.rounded{
  border-radius:50px;
  padding:0px;
}
.samewidther{
  width: 240px;
  border: none;
  background-color:var(--gray1);
  transition:box-shadow 0.2s, backdrop-filter 0.1s, width 0.1s;
  box-shadow:0 0 5px 2px var(--shadow);
}
.samewidther:hover, .sparent:active{
  box-shadow:2px 2px var(--bwe) rgba(255,0,106,0.8), -2px -2px var(--bwe) rgba(68,165,255,0.8);
}
#titlep{
  font-size: 23px;
  font-family: norm;
}
.projects{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 320px;
  transition: box-shadow 0.2s;
  box-shadow: 5px 5px 0px 0px var(--color2), -5px -5px 0px 0px var(--color1);
}
.projects:hover{
  box-shadow: -5px 5px 0px 0px var(--color2), 5px -5px 0px 0px var(--color1);
}
.pr-contents{
  width: 100%;
  min-height: 100px;
}
.pr-contents img{
  width: 100%;
  box-shadow: 0px 0px 2px 1px var(--gray1), inset 0 0 1px 1px var(--gray1);
}
.boto2{
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.btokd{
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
}
.btokd p{font-weight: bold; line-height: 30px; width: calc(100% - 50px); text-overflow: ellipsis}
.btokd p:nth-of-type(2){
  width: 50px;
  font-weight:normal;
  text-align: center;
  font-size: 14px;
}
.iald{
  line-height: 30px;
  flex-grow: 7;
  text-align: center;
  font-size: 15px;
}
.iald:nth-of-type(2){
  border-left: 2px solid var(--color2);
}
.loi{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  height: 70px;
}
.addx{
  width: 60px;
  height: 60px;
  color:white;
  font-size: 20px;
  border-radius: 30px;
}
/*.loi img{margin: 10px}*/
.bottoms{
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: 100%;
  height: 70px;
}
.project-info-tab{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.project-info-tab button{margin-top: -5px}
.pr-contents p{
  padding: 5px;
}
.fa1{
  transition: font-size 0.2s;
}
.fa1:hover{
  font-size: 20px;
}
.fa2:hover{
  font-size: 20px;
}
.fa3:hover{
  font-size: 20px;
}

#i127i{
  width:100%;
  height: fit-content;
  background-color: var(--color2);
  background: var(--gradi2);
  border-radius: 5px 5px 30px 15px;
  padding: 2px;
  transition: 0.2s;
  box-shadow: 0px 0px 3px 1px var(--shadow);
}
#i127i:hover{
  box-shadow: 2px 2px 3px 0px var(--fcol1);
}
#ipbs-2{
  width: 80%;
  margin: 10% 10%;
  display: flex;
  flex-flow: row wrap;
  aspect-ratio: unset;
}
#ipbs-2 div{
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
.nnuy{
  aspect-ratio:1;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  width:100%;
  overflow:none;
}
#ifr7x{
  width: calc(100% - 60px);
}
button{
  min-width: 40px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  outline: none;
  border: none;
}
#iola{
  border-radius: 0px 0 30px 0px;
  background: transparent;
}
.sparent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.slicki{
  width: calc(100% - 60px);
  border: none;
  outline: none;
  color: rgb(var(--secondary));
  background: transparent;
  padding-left: 15px;
  height: 50px;
  margin-left: 5px;
  margin-top: 6px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.slicki::selection{color: var(--pri); background-color: var(--color2); background-image: var(--gradi);}
.slicki::placeholder, #titlep, .gtext, .pfilterb.active{
  color: rgba(var(--col2), 0.9);
  background-color: var(--color1);
  background-image: var(--gradient3);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  font-weight: bold;
}
.slicki::placeholder{
  animation: colblinker 2s ease-in 0.1s infinite alternate-reverse;
}
@keyframes colblinker {
  0%{background-image: linear-gradient(45deg, var(--color2), var(--color1));}
  100%{background-image: linear-gradient(135deg, var(--color1), var(--color2));}
}
#titlep{
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
#p_image_input{
  width: 200px;
  height: 200px;
}
#p_image_input::-webkit-input-placeholder, #p_image_input::-moz-placeholder{visibility: hidden; display: none;}
#p_image_input::-webkit-file-upload-button{
  cursor: pointer;
  width: 200px;
  height: 200px;
  background: var(--gray1);
  border-radius: 10px;
  box-shadow: 0 0 3px 1px var(--shadow);
}
#attachb::-webkit-file-upload-button{
visibility: hidden;
}
#attachb::before{
  width: 30px;
  height: 30px;
  margin: 10px;
}
#pfilter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
#replacer{display: none; border-radius: 10px; width: 200px; height: 200px;  box-shadow: 0 0 3px 1px var(--shadow);}

.niche{
  border-radius: 25px;
  padding: 5px 10p 5px 10px;
}
.niche.active{
  background: var(--color3);
}
.pfilterb{
  user-select: none;
  position: relative;
  width: 30%;
  font-size: 16px;
  height: 40px;
  color: var(--secondary);
  background: transparent;
}
.pfilterb::before{
  opacity: 0;
}
.pfilterb.active::before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: var(--grad3);
  transition: opacity 0.2s, display 0.2s;
  opacity: 1;
}
.sparent button{
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-image: linear-gradient(135deg, var(--color1), var(--color2) 70%);
}
.pttx{
  height: 50px;
}
.thread{
  display: flex;
  flex-flow: column nowrap;
  overflow: visible;
  cursor: pointer;
  width: 98%;
  margin: 5px;
  padding: 5px;
  border-radius: 30px;
  background: var(--gray1);
  box-shadow: 0px 0px 2px 2px var(--shadow);
}
.postattachments{
  position: relative;
  height: fit-content;
  overflow: visible;
  width: calc(100% + 27.5px);
}
.inside{
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  width: calc(100%);
  height: 100%;
  margin-left: -27.5px;
  z-index: 20;
 justify-content: center;
  padding: 5px;

}
.inside img{
  width: 80%;
  max-width: 300px;
  transition: box-shadow 0.2s;
  margin-right: 2px;
  border-radius: 10px;
  outline: 3px solid var(--shadow);
}
.inside img:hover{
  box-shadow: 2px 0px 5px -5px var(--shadow);
}
.postsin{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  margin: 0px 4px 0px 0px;
  overflow: visible;
}

.sosmm{
  width: 100%;
  padding: 2px;
}
.userstalk{
  width: 55px;
  height: calc(100% - 10px);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
}
.mpost{
  width: calc(100% - 55px);
  height: calc(100% - 0px);
}
.postUser{
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2px;
  align-items: center;
  width: 100%;
  line-height: 30px;
}
.postUser div button{height: 30px; width: 30px;}
.user-options{
  width: 40px;
  height: 40px;
  float: right;
  align-self: flex-end;
  color: var(--color1);
}
.posterpic, .loi img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: box-shadow 1s;
}
#iqyv::after{
    box-shadow: inset 3px 3px 10px 0 #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
.projects-pic{
  box-shadow: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: box-shadow 1s;
}
.underp{position: relative; display: flex; align-items: center; justify-content: center;}
.underp, .underp::before{width: 55px; height: 55px; border-radius: 100%;}
.underp img{z-index: 2;}
.underp::before{content: ''; background-image: var(--grad3); position: absolute; z-index: 0; transition: rotate 0.3s;}
.underp:hover::before{rotate: 180deg;}

.postUser p{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 3px 0px 3px;
}
.hhname{
  color: var(--secondary);
  font-weight: bold;
  transition: color 0.2s, background-color 0.2s;
}
.postUser:last-child{
  color:var(--color2)
}
.postContents{
  padding: 5px;
  display: flex;
  min-height: 60px;
  overflow: visible;
}
.hdivider{
  width: 20px;
  height: 2px;
  background-color: var(--color2);
  margin: auto 2px auto 2px;
  border-radius: 3px;
}
.hdivider.full{
  width: 92%;
  background-image: linear-gradient(45deg, var(--color2), var(--color1));
}
.asl{
  width: 2px;
  height: calc(100% - 200px);
  flex-grow: 5;
  border-radius: 2px;
}
.vdivider{
  display: flex;
  max-width: 20px;
  min-width: 10px;
  width: 10px;
  background: transparent;
  justify-content: center;
  align-items:center;
  flex-basis:100%;
  height: calc(100% - 10px);
}
.vdivider span{
  width: 2.5px;
  height: 96%;
  border-radius: 6px;
  background-color: var(--gray1);
}
.postlinks{
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
  margin: 5px;
}
.postphotos{
  margin-right: 100px;
  width: 200px;
}
.postActions{
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.actions{
  width: 40px;
  height: 40px;
  font-size: 15px;
  background: transparent;
  border-radius: 100%;
  transition: font-size 0.1s, background-color 0.2s, color 0.2s;
}
.actions div{display: inline-block; vertical-align: middle;}
.refered{
  min-height: 10px;
  padding: 5px;
  color: var(--color1);
}
#mainpost{
  display: none;
  width: calc(100% - 10px);
  min-height: 200px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 1px var(--shadow);
}

.tcomments{
  display: flex;
  float: right;
  background-color: var(--gray2);
  flex-flow: row wrap;
  width: calc(100% - 4px);
  min-height: 200px;
  border-radius: 20px;
  margin-top: 3px;
  align-self: flex-end;
}
#ptop{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
.indi{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  animation: flicker 0.5s alternate-reverse infinite;
}
@keyframes flicker {
  from{opacity: 100%;}
  to{opacity: 0%;}
}
#ptop p{
  display: inline-block;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
#pimg{
  width: 60px;
  border-radius: 100%;
}
.input{
  width: auto;
  min-width: 100px;
  min-height: 30px;
  vertical-align: middle;
}
#pname{
  
}
#pusername{
  width: 100px;
}
#pusername, #pname{
  font-size: 20px
}


.toast{
  display: flex;
  flex-direction: row;
  position: fixed;
  min-width: 100px;
  max-width: 300px;
  min-height: 50px;
  line-height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: start;
  transition: transform 0.2s, backdrop-filter 0.2s, box-shadow 0.2s, opacity 0.2s;
  z-index: 200;
  box-shadow: 0 0 3px 1px var(--shadow);
  background: var(--gray2);
  border-radius: 15px;
  opacity: 0%;
  backdrop-filter: blur(5px);
  right: 10px;
  gap: 5px;
  bottom: 10px;
  font-family: uns;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
}
.toast:hover{
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 1px var(--shadow);
}
.quotes::before{
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0;
  background: var(--gradi);
}

.toast::before{
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  z-index: 2;
  right: -6px;
  top: 0;
  background: var(--gradi);
}

.b2{
  width: 60px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  transition: 0.2s;
  background-color: var(--gray2)
}
#nav{
  display: none;
  min-width: 300px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  justify-content: stretch;
  left: calc(50% - 150px);
  background-color: var(--pri);
  bottom: 10px;
  box-shadow: 0 0 5px 2px var(--shadow);
  z-index: 90;
}
#nav:hover{
  box-shadow: 2px 2px var(--bwe) rgba(255,0,106,0.8), -2px -2px var(--bwe) rgba(68,165,255,0.8), 0 0 5px 2px var(--shadow);
}
.tabb{
  color: var(--sec);
  flex-grow: 1;
  height: 50px;
  background-color: transparent;
  font-size: 20px;
}
.tabb:hover{
  color: var(--color2);
}
#miniprofile{
  display: none;
  width: 200px;
  height: 100px;
}
.classf{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  font-size: 23px;
  margin-right: 10px;
  align-self: flex-end;
  background: var(--gradi);
  color: rgb(var(--primary));
  transition: box-shadow 0.2s;
  box-shadow: 0 0 5px 0px rgba(100, 100, 100, 0.5);
  z-index: 80;
}
.classf:active{
  box-shadow: 1px 1px 2px 1px var(--color2), -1px -1px 2px 1px var(--color1), 0 0 5px 2px var(--shadow);
}
.classf:hover{
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.5);
}
.classf:nth-of-type(1){
  bottom: 10px;
}
.classf:nth-of-type(2){
  top: 20px;
}
#filler{
  display: none;
  width: 100%;
  height: 50px;
}
.thread, .tcomments, .postUser p, .postContents{
  font-size: 15px;
  text-overflow: ellipsis;
}
.moreoptions{
  width: 200px;
  height: 120px;
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 70;
  margin: 40px 0px 0px 0px;
  background: var(--gray2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 2px 1px var(--shadow);
  border-radius: 5px;
}
.moreoptions button{
  width: 100%;
  height: 40px;
  font-size: 14px;
  background: transparent;
}
.moreoptions button:hover{
  background: var(--gray2);
}
.moreoptions button div{
  text-align: left;
  padding-left: 10px;
}
#startscreen{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 110;
  left: 0;
  background-color: var(--pri);
  transition: opacity 0.2s;
}
#logo{
  width: 70px;
  height: 70px;
}
.dialogs{
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: var(--shadow);
  transition: opacity  0.2s, display 0.2s;
}
.divc{
  min-width: 300px;
  min-height: 500px;
  border-radius: 10px;
  background: var(--pri);
  box-shadow: 0 0 5px 1px var(--shadow);
 }
 #newproject{
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
 }
 #newproject .divc{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
 }
 #writepost .divc{
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
 }
 #ieof{
  width: 100%;
 }
 #posttexts{
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  resize: none;
 }
 #postbottomh{
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
}
#images-s{
  min-width: 120px;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}
.samples{
  width: 50px;
  height: 50px;
}
 #ieof img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
 }
 #zoomer{width: 250px; z-index: 110; border-radius: 10px; position: fixed; left: calc(50% - 65px); box-shadow: 0 0 5px 1px var(--shadow);}
 #zoomer img{
  max-height: 200px;
  max-width: 250px;
 }
#dm{
  max-width: 400px;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: var(--gray2);
  backdrop-filter: blur(5px);
  box-shadow: 20px;
  box-shadow: 0px 0px var(--bwe) var(--shadow);
  display: none;
  position: fixed;
  flex-flow: column wrap;
  align-items: stretch;
}
#dm div{
  width: 100%;
  border-radius: 30px;
  max-width: 320px;
  padding: 5px;
 }
 #dmmenu{
  display: none;
  
 }
#messagetop{
  height: 40px;
  display: flex;
  justify-content: stretch;
  flex-flow: row nowrap;
}
#recipent{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
#rename{
  line-height: 40px;
  padding-left: 5px;
  width: 100px;
}
#messagetop button{
  align-self: flex-end;
}
#messagebody{
  height: calc(100% - 50px);
  padding: 5px;
}
#messageinputs{
  height: 50px;
}
#mta2{

}
#attachb{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#profile{
  display: none;
  width: 100%;
  height: 100%;
}
#fullprojects .divc{
  display: flex;
  flex-direction: column nowrap;
  width: 100%;
  height: 100%;
}
#allprojects{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: calc(100% - 40px);
  background: var(--pri);
}
#fundbutton{
  padding: 10px;
  min-height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 5px 1px var(--shadow);
}
#fundbox{
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 10px;
  width: 100px;
  left: calc(50% - 50px);
  justify-content: center;
}
#ethfund{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#fundinput{
  width: 80px;
  height: 40px;
}
#editor{
  width: 90%;
  height: 100%;
}
#contents, #editor{
  background: var(--pri);
  color: #ffffff;
}
.underp::before{
  z-index: 1;
}
.underp img{
  z-index: 2;
}
@media screen and (min-device-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
  .rblocks{
    display: none;
  }
  #row1-2, #ibczo-2{display: flex;}
  .tcomments, .postContents{
    font-size: 13px;
  }
  #filler{display: block;}
  #nav{display: flex;}
  .classf:nth-of-type(1){
    bottom: 80px;
  } 
  
}
@media screen and (min-device-width: 1000px){
  .thread, .tcomments, .postUser p, .postContents{
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .postUser p{
    max-width: 100px;
  }
  #filler{
    display: none;
  }
  .rblocks{display: flex;}
  #nav{display: none;}
}
@media screen and (min-device-width: 300px) and (max-device-width: 480px)
and (orientation: portrait) {
  .rblocks{
    display: none;
  }
  #ibczo-2{display: none;}
  #filler{display: block;}
  #row1-2{display: flex;}
  #nav{display: flex;}
  .classf:nth-of-type(1){
    bottom: 80px;
  }
  .thread{
    width: 100%;
    border-radius: 0;
    padding: 3;
    margin: 0;
    box-shadow: 0 1px 0 0 var(--shadow);
    background: var(--pri);
  }
  
  .hhname{width: 60px; overflow: hidden; height: 30px;}
  .username.col3{width: 50px; font-size: 14px; overflow: hidden;}
  .mpost{width: calc(100% - 45px)}
  .userstalk{width: 45px;}
  .posterpic, .projects-pic, .userimg, .loi img{height: 40px; width: 40px; outline: none;}
  .underp, .underp::before{width: 45px; height: 45px;}
  .underp img{align-self: center; justify-self: center;}

  
 #newproject .divc{
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
 }
}

/**FOR SMALL LAPTOP SCREENS**/
@media (min-width: 1200px){
  .thread, .tcomments, .postUser p, .postContents{
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .postUser p{
    max-width: 100px;
  }
  #filler{
    display: none;
  }
  .rblocks{display: flex;}
  #nav{display: none;}
}
/**FOR MOBILE DEVICES**/
@media (max-width:420px) {
  .vdivider{
    display:none;
  }
  #column1-2{
    flex-direction: column;
    row-gap: 20px;
    overflow-y: scroll;
    align-items: center;
    margin: 0;
  }
  #row1-2{
    row-gap: 30px;
  }
  #i33j-2{
    display: none;
  }
  .sparent{
    margin-top: 30px;
  }
  #ibczo-2{
    height: 700px;
    overflow-y: visible;
  }
  #iht7k{
    display: none;
  }
}