*{
    margin: 0;
}
@font-face {
    font-family: ton;
    src: url(fonts/Antonio-v5.02-9D1BE587B92CFFC51853640E44516B1E.ttf);
}
@font-face {
    font-family: sand;
    src: url(fonts/Quicksand-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoc;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/InterTight-VariableFont_wght.ttf);
}
body{
    background: white;
    color: white;
}
#nav-left, #search-btn, #nav, #nav-right, .trendingtags{
    display: flex;
    flex-direction: row;
}
#nav-left, #search-btn, #nav, #nav-right{
    align-items: center;
}
#nav, #search-btn input::placeholder, .icon-contain{
    font-family: sand;
}
#nav{
    margin:0px, 4px;
    background:linear-gradient(27deg, #7851a9, #8751a9, #825db1, #7851a9);
    justify-content: space-around;
    max-height: 55px;
}
#nav-left{
    font-size: 14px;
    opacity: 0.9;
    column-gap: 9px;
}
#nav-right{
    column-gap: 8px;
    padding: 10px ;
}
#search-btn{
    border-radius: 20px;
    padding: 8px;
    background: #8560b3;
    column-gap: 5px;
}
#search-btn input{
    background: none;
    outline: none;
    border: none;
}
#search-btn input::placeholder{
    color: white;
    opacity: 0.8;
}
.icon-contain{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-size: 14px;
    opacity: 0.9;
    align-items: center;
    cursor: pointer;
    transition: font-size 0.4s, opacity 0.4s, text-shadow 0.4s;
}
.icon-contain:hover{
    opacity: 1;
    font-size: 16px;
    text-shadow: 1px 1px 4px white;
}
.circle{
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    font-size: 8px !important;
}
#storycontainer{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.story{
    border-radius:50%;
    width: 50px;
    height: 55px;
    border: 2px solid;
}
#nav h3{
    font-family: sand;
}
#nav h3 span{
    border-radius: 50%;
    padding: 3px;
}
#content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 10px;
    margin-top: 5px;
}
#leftcontainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
#userprofile, #lowerleft{
    border-radius: 10px;
    background: linear-gradient(30deg, #9677be, #795b9f, #825db1, #9677be);
    margin-left: 2vh;
    padding: 10px;
}
#userprofile{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
    font-family: sand;
}
#usertop, .top, .topright{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.userimg{
    border-radius: 50%;
    height: 44px;
}
.username, .follow, #lowerleft, #middlecontainer, .middlecontent{
    display: flex;
    flex-direction: column;
}
.username span{
    font-size: 12px;
    opacity: 0.8;
}
.follow{
    align-items: center;
    font-size: 14px;
    row-gap: 1px;
}
.left{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    position: relative;
}
.left i {
    font-size: 22px;
}
.leftword{
    font-family: ton;
    font-size: 32px;
}
#start-btn{
    border-radius:8px;
    border: none;
    outline: none;
    padding: 5px;
    position: relative;
    margin-left: 20%;
    font-size: 20px;
    color: white;
    display: flex;
    background: purple;
    font-family: sand;
}
#lowerleft{
    height: 50vh;
}
#middlecontainer{
    row-gap: 10px;
    width: 50%;
}
.top, .bottom{
    padding: 5px;
}
.top{
    font-family: lato;
    background: linear-gradient(to right, #8c6ab7, #a184c4, #bfacd7, #8c6ab7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}
.top span{
    opacity: 0.8;
    font-family: sand;
    font-size: 12px;
}
.top h4{
    font-weight: 400;
}
.top i:hover {
    background: #8560b3;
    border-radius: 50%;
}
.middle{
    width:100%;
}
.bottom{
    font-family: robotoc;
    background: #7747b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 16px;
}
.bottom h4{
    font-family: lato;
    font-weight: 400;
}
.bottomword{
    font-family: roboto;
    font-size: 14px;
    font-weight: 200;
    color: rgb(200, 200, 200);
}
.interact, .interact-contain{
    display: flex;
    flex-direction: row;
}
.interact{
    justify-content: space-between;
    margin: 4px 0px;
}
.interact img{
    font-size: 20px;
    opacity: 0.7;
    color: white;
}
.interact i {
    font-size: 21px;
    opacity: 0.7;
}
.interact-contain{
    column-gap: 12px;
}
.donate{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content:flex-start;
    align-items: center;
}
.donate i {
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px 4px;
}
#rightcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 25%;
}
#trending, #lowerright, #chatbox{
    border-radius: 8px;
    background: #7851a9;
    margin-right: 2vh;
}
#trending{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.trendlink{
    display: flex;
    flex-direction: column;
}
#trending a{
    font-family: roboto;
    font-size: 20px;
    padding: 6px 30px;
}
#trending h4{
    letter-spacing: 3px;
    padding: 0px 30px;
}
#trending a:hover{
    background: #8560b3;
}
.trendingword{
    opacity: 0.9;
    font-size: 18px;
    letter-spacing: 1px;
}
.trendingtags{
    opacity: 0.7;
    font-size: 12px;
    margin-left: 18px;
    row-gap: 4px;
}
#trending h4{
    font-family: lato;
    margin-bottom: 6px;
}
#show{
    text-align: center;
    font-family: roboto;
    font-size: 14px;
}
#lowerright{
    height: 45vh;
}
#chatbox{
    height: 12vh;
}